{{!-- DO NOT DELETE THIS FILE - Doing so will cause 404 errors on the client side which will not break anything, but will throw errors in the console. --}}
<script id="Login" type="text/x-handlebars-template">

    <!-- Modal Trigger-->
    <button class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
        Login
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        
        <div class="modal-dialog">
            <div class="modal-content">
                
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                           <span aria-hidden="true">&times;</span>
                           <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="loginModalLabel">
                        HMI Login Level
                    </h4>
                </div>
                
                <!-- Modal Body -->
                <div class="modal-body">
                    
                    <form role="form" id="loginForm" onsubmit="TmplitLogin()">
                      <div class="form-group">
                        <label for="loginUser">Username</label>
                        <input type="text" class="form-control" id="loginUser" placeholder="Username"/>
                      </div>
                      <div class="form-group">
                        <label for="loginPass">Password</label>
                          <input type="password" class="form-control" id="loginPass" placeholder="Password"/>
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    
                </div>
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                </div>
            </div>
        </div>
    </div>
</script>